NODE_ENV=development
PORT=3000
# DATABASE_URL=postgresql://postgres:postgres@postgres:5432/cbbreward_dst?schema=public prod
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cbbreward_dst?schema=public

# BigCommerce
BIGCOMMERCE_STORE_HASH=sotre_hash
BIGCOMMERCE_ACCESS_TOKEN=your_store_token

# Beans API
BEANS_API_BASE_URL=https://api.trybeans.com
BEANS_API_KEY=your_api_key
# BEANS_API_KEY=test
REWARD_RATE=0.05
BEANS_REAL_CALL_ENABLED=true
BEANS_SAFE_ACCOUNT=example@email.com

# Scheduler
SCHEDULER_TIMEZONE=America/New_York
DAILY_CRON=0 10 1 * * *

# Admin
ADMIN_SESSION_SECRET=replace-with-a-strong-secret
MOCK_MODE=true
ADMIN_DEFAULT_EMAIL=admin@example.com
ADMIN_DEFAULT_PASSWORD=silk123456

#API
AUTH_TOKEN='authToken'
